{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

    <style>
        .my-style{
            background-color: white;
            height: 350px;
            border: 1px solid #ccdbd7;
        }
    </style>
    <div class="row justify-content-md-center mt-5">
        <div class="col-5  my-style">
            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as <span>{{ app.user.username }} </span>, <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% endif %}

                <h1 align = "center" class="h3 mb-4 mt-2 font-weight-normal">Login</h1>
                <div class="form-group">

                    <label for="inputUsername">Username</label>
                    <input class="form-control" type="text" value="{{ last_username }}" name="username"
                           id="inputUsername" class="form-control" required autofocus>
                    <label for="inputPassword">Password</label>
                    <input class="form-control" type="password" name="password" id="inputPassword" class="form-control"
                           required>

                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >

                    {#
                        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                        See https://symfony.com/doc/current/security/remember_me.html

                        <div class="checkbox mb-3">
                            <label>
                                <input type="checkbox" name="_remember_me"> Remember me
                            </label>
                        </div>
                    #}
                </div>
                <button style="width: 100%;margin-top: 50px" class="btn  btn-primary" type="submit">
                    Login
                </button>
            </form>
        </div>
    </div>


{#    <main class="login-form">#}
{#        <div class="cotainer">#}
{#            <div class="row justify-content-center">#}
{#                <div class="col-md-8">#}
{#                    <div class="card">#}
{#                        <div class="card-header">Register</div>#}
{#                        <div class="card-body">#}
{#                            <form action="" method="">#}
{#                                <div class="form-group row">#}
{#                                    <label for="email_address" class="col-md-4 col-form-label text-md-right">E-Mail Address</label>#}
{#                                    <div class="col-md-6">#}
{#                                        <input type="text" id="email_address" class="form-control" name="email-address" required autofocus>#}
{#                                    </div>#}
{#                                </div>#}

{#                                <div class="form-group row">#}
{#                                    <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>#}
{#                                    <div class="col-md-6">#}
{#                                        <input type="password" id="password" class="form-control" name="password" required>#}
{#                                    </div>#}
{#                                </div>#}

{#                                <div class="form-group row">#}
{#                                    <div class="col-md-6 offset-md-4">#}
{#                                        <div class="checkbox">#}
{#                                            <label>#}
{#                                                <input type="checkbox" name="remember"> Remember Me#}
{#                                            </label>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}

{#                                <div class="col-md-6 offset-md-4">#}
{#                                    <button type="submit" class="btn btn-primary">#}
{#                                        Register#}
{#                                    </button>#}
{#                                    <a href="#" class="btn btn-link">#}
{#                                        Forgot Your Password?#}
{#                                    </a>#}
{#                                </div>#}
{#                        </div>#}
{#                        </form>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        </div>#}

{#    </main>#}

{% endblock %}
