{% extends 'base.html.twig' %}

{% block title %}Hello BaseController!{% endblock %}

{% block body %}
    {% include("/inc/slider.html.twig") %}
    <style>
        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="row">
        <div class="card col-8 ml-5 mb-3">
            {% for blog in blogs %}
                {% if app.user %}

                {% endif %}
                {% if blog.private == false %}
{#                    <div class="card-body">#}
{#                        <img src="images/{{ blog.photoPath }}" />#}

{#                        <h5 class="card-title">{{ blog.title }}</h5>#}
{#                        <p class="card-text">{{ blog.body }}</p>#}
{#                        <a class="btn btn-primary" href="{{ path('blog_show', {'id': blog.id}) }}">Show</a>#}
{#                    </div>#}


                    <div class="card mb-3">
                        <img src="images/{{ blog.photoPath }}" class="card-img-top " style="height: 300px" />
                        <div class="card-body">
                            <h5 class="card-title">{{ blog.title }}</h5>
                            <p class="card-text">{{ blog.body }}</p>
                            <a class="btn btn-primary" href="{{ path('blog_show', {'id': blog.id}) }}">Show</a>
                        </div>
                    </div>


                    <hr/>
                {% else %}
                    {% if app.user %}
                        {% if app.user.admin %}




                            <div class="card mb-3">
                                <img src="images/{{ blog.photoPath }}" class="card-img-top " style="height: 300px" />
                                <div class="card-header">
                                    <img src="images/lock-locked-2x.png"/>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">{{ blog.title }}</h5>
                                    <p class="card-text">{{ blog.body }}</p>
                                    <a class="btn btn-primary" href="{{ path('blog_show', {'id': blog.id}) }}">Show</a>
                                </div>
                            </div>




{#                            <div class="card-header">#}
{#                                <img src="images/lock-locked-2x.png"/>#}

{#                            </div>#}
{#                            <div class="card-body">#}
{#                                <img src="images/{{ blog.photoPath }}" />#}

{#                                <h5 class="card-title">{{ blog.title }}</h5>#}
{#                                <p class="card-text">{{ blog.body }}</p>#}
{#                                <a class="btn btn-primary" href="{{ path('blog_show', {'id': blog.id}) }}">Show</a>#}
{#                            </div>#}
                            <hr/>
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endfor %}
            <div class = "navigation align-self-center ">
                {{ knp_pagination_render(blogs) }}
            </div>

        </div>
        <div class="col-3 mr-4 mb-3">
            {% include('inc/card.html.twig') %}

        </div>
    </div>
{% endblock %}



